body{
  /*background-color: #F1F5F8;*/
  font-family: 'Roboto', Helvetica;
  /*width: 90%;*/
  /*margin: 0 auto;*/
}

/*--------------header-------------------------------------*/

header{
  width: 100%;
  height: 760px;
  background-image: url("../img/hero.jpg");
  /*background-position: bottom;*/
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 100;
  color: white;
  /* display: flex; */
  /* justify-content: space-around; */
  /*align-items: center;*/
  /* flex-direction: column; */
}

.contact-header{
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url("../img/.jpg");
  /*background-position: bottom;*/
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 100;
  color: darkgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

#header-phone{
  border-radius: 30px;
  margin-right: 15%;
  margin-bottom: 48px;
  float: right;
  margin-top: 50px;
  height: 480px;
  width: 230px;
  background-image: url("../img/phone.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow:20px 20px 40px black;
}

#phone-text-top{
  /* padding-left: 5px; */
  padding-top: 80px;
  font-size: 35px;
  color: #e8e8e8;
}

#phone-text-bot{
  padding-left: 55px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 250px;;
}

#myname{
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 6px;
  /*align-self: center;*/
}

#filters-myname, #contact-myname{
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 6px;
  margin-left: -15px;
}

.animated{
  animation-delay: 4s;
}

#title{
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  border-left: 1px solid white;
  /*border-right: 1px solid white;*/
  /* padding-left: 25px; */
  line-height: 25px;
  margin: 40px 0 0 20px;
  padding-left: 10px;
  padding-bottom: 13px;
  padding-top: 12px;
  float: left;
}



/* -----------NAVIGATION ---------------*/

#rolling-subtext{
  margin-top: 45px;
  background-color: black;
  opacity: .5;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

#text-roll{
  text-align: center;
  /* background-color: black; */
  /* padding: 30px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  letter-spacing: 7px;
  font-size: 18px;
  /* align-items: right; */
  /* padding-left: -240px; */
}

.rw-wrapper{
  /* margin-right: 50px; */
}

.text-roll-span{
  display: flex;
  flex-direction: row-reverse;
}

#Designer{
  /* float: left; */
    /* padding-left: -40px; */
    padding-top: 22px;
    margin-left: 125px;
    flex-wrap: nowrap;
    font-family: 'Roboto';
    /* font-weight: lighter; */
}



.rw-words span{
  font-family: 'Lobster';
  color: salmon;
	position: absolute;
	opacity: 0;
	overflow: hidden;
	/* width: 300px; */
  padding-top: 22px;
  /* float: right; */
}

.rw-words-1 span{
	animation: rotateWordsFirst 15s linear infinite 0s;
}

.rw-words span:nth-child(2) {
	animation-delay: 3s;
}
.rw-words span:nth-child(3) {
	animation-delay: 6s;
}
.rw-words span:nth-child(4) {
	animation-delay: 9s;
}
.rw-words span:nth-child(5) {
	animation-delay: 12s;
}
.rw-words span:nth-child(6) {
	animation-delay: 12s;
}


@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

#subtitle{
  letter-spacing: 6px;
  font-size: 15px;
  text-align: center;
}

nav{
  /* height: 50px; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #ed7752;
  flex-wrap: wrap;
}

.nav-buttons{
  padding: 25px;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  letter-spacing: 3px;
  font-family: 'Karla';
}

.contact-nav-buttons{
  padding: 15px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 4px;
  font-family: 'Karla';
}

.filter-title-h4{
  /* padding: 20px 40px; */
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 8px;
  margin: none;
  padding: none;
  /* color: white; */
  /* margin-top: -55px; */
}

#filter-divs-wrapper{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.filter-divs {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
}

/*--------------------FOOTER------*/


footer{
  /*width: 100%;*/
  height: auto;
  background-image: linear-gradient( rgba(59, 59, 59, 0.52), rgba(41, 245, 248, 2.0) ), url("../img/blueprint.jpg");
  background-size: cover;
  /*background-repeat: no-repeat;*/
  box-sizing: border-box;
  /*background-attachment: fixed;*/
  /* margin-top: 100px; */
  /*padding-bottom: 30px;*/
}

#filters-footer{
  /*width: 100%;*/
  height: 800px;
  background-image: linear-gradient( rgba(49, 49, 49, 0.6), rgba(96, 176, 177, 3.0) ), url("../img/blueprint.jpg");
  background-size: cover;
  /*background-repeat: no-repeat;*/
  box-sizing: border-box;
  /*background-attachment: fixed;*/
  /* margin-top: 100px; */
  /*padding-bottom: 30px;*/
}

#contact-footer{
  /*width: 100%;*/
  height: auto;
  background-image: linear-gradient( rgba(49, 49, 49, 0.6), rgba(96, 176, 177, 3.0) ), url("../img/blueprint.jpg");
  background-size: cover;
  /*background-repeat: no-repeat;*/
  box-sizing: border-box;
  /*background-attachment: fixed;*/
  /* margin-top: 100px; */
  /*padding-bottom: 30px;*/
}

.footer-title{
  padding-top: 30px;
  overflow: hidden;
}

h4{
  padding: 20px 40px;
  font-size: 35px;
  font-weight: 100;
  color: white;
}

.contact-footer-h4{
  /* padding: 20px 40px; */
  font-size: 35px;
  font-weight: 100;
  /* color: white; */
  margin-top: -55px;
}

#color-collab{
  /* color: #Ffb74a; */
  color: white;
  font-weight: 100;
  position: absolute;
  margin-top: 90px;
  margin-left: 30px;
}

.font-grow-slow{
/*    letter-spacing: 2px;*/
    -webkit-animation: mymove 50s infinite;
    animation: mymove 50s infinite;
}

.font-grow-fast{
/*    letter-spacing: 2px;*/
    -webkit-animation: mymove 25s infinite;
    animation: mymove 25s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    80% {letter-spacing: 20px;}
}

/* Standard syntax */
@keyframes mymove {
    80% {letter-spacing: 20px;}
}

#email a{
  font-size: 18px;
  /* padding: 15px 40px; */
  margin-bottom: 25px;
  /* color: #F15A24; */
  color: darkblue;
  font-weight: 100;
  letter-spacing: 6px;
  line-height: 40px;
  z-index: 100;
}
#email{
  font-size: 18px;
  padding: 15px 40px;
  margin-bottom: 25px;
  /* color: #F15A24; */
  color: darkblue;
  font-weight: 100;
  letter-spacing: 6px;
  line-height: 40px;
  z-index: 100;
}

#collab-form{
  /*width: 50%;*/
  /*padding: 25px;*/
  /*background-color: #F1F5F8;*/
  display: flex;
  flex-direction: column;
  opacity: .75;
  align-items: center;
  justify-content: space-around;
  /*margin: 10px;*/
  /*width: 30%;*/
  /*border: 2px solid #F15A24;*/
}

.footer-cover{
  padding-top: 40px;
  margin-left: -20px;
  background-color: #68A5A6;
  width: 105%;
  height: 270px;
  position: absolute;
  margin-top: -212px;
  z-index: 10;
}
